body{
    background-color: rgb(143, 119, 119);   
    margin: 0;
}

#header{
    background-color: grey;
    z-index: 10;  
    position: fixed;
    top:0;
    width:100%;
}

#nav-bar, span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a {
    padding: 14px 16px;
    text-decoration: none;
    color:white;
    font-size: 20px;
 
}
nav img{
    border-radius: 50%;
}
.pgTitle{
    text-align: center;
}
#page1{
height: 750px;
width: 100%;
background-color: #333;
z-index:-1;
background: url("https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=640") no-repeat center center fixed;
background-size: cover;
}
#page1 h1{
    font-size:55px;
}
#page1 h2{
    font-size:45px;
    margin: -10px auto;
}
#wMessage{
    height: auto;
    width: 400px;
    z-index: 0;
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
    color: rgb(121, 190, 219);
    border-radius: 15px;
    text-shadow: 2px 2px 5px whitesmoke;
}
#page2{
height: auto;
width: 100%;   
background-color: rgb(143, 119, 119);
z-index: 1;
margin: 4% auto;

}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.menuItem{
    width: 250px;
    height: auto;
    margin:20px 20px; 
    background-color: aliceblue;
}
.menuItem img{
    height:180px;
    width: 250px;
    position: relative;
    float: left;
    object-fit:cover;

}
.menuItem h1{
    text-align: center;
    margin: 30px auto  15px auto;
}
.menuItem p{
    display: none;
}
#page3{
height: auto;
width: 100%;  
background-color: #333;   
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: auto auto auto;
grid-column-gap: 20px; 
grid-row-gap: 20px; 
color: blanchedalmond; 


}
#page3 h1{
    margin: 50px auto;
}
.pgTitle{
grid-area: 1/1/2/3;
}

#contact{
grid-area: 2/1/3/2;
margin: auto 40px;
text-align: center;
}
.fas{
width:30px;
margin: 15px auto;
}
.fas:before {
    content: "\f0e0";
}

#form{
grid-area: 2/2/3/3;
margin: auto 40px;
/* border: yellow solid 3px; */
text-align: center;


}


#map{
grid-area: 3/1/4/3; 
margin: auto;  
-webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
filter: grayscale(80%);
width:100%;
height:450px;
padding-bottom: 50px;
padding-top: 50px;
}


input{
    margin:0 -16px 8px 16px;
    padding: 10px 8px;
    font-size: 15px;
    width:250px;
}
#submit{
    margin:0 -16px 8px 16px;
    padding: 10px 8px;
    font-size: 15px;
    width:80px;
}

.footer {
    /* position: fixed; */

    width: 100%;
    height: 100%;
    background-color: grey;    
    color: white;
    text-align: center;
    padding-top: 20px;
    margin: -20px auto;
    
}


#sMedia{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    margin: 20px 25px;
    cursor: pointer;
    color: white;
}
a:hover{
    color:  rgb(136, 212, 245);
}


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}